table{
    width: 100%;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
}
table thead th,table tbody tr td{
    border: 1px solid #6998AB;
    padding: 6px;
}
table thead{
    background-color:#1A374D;
    color: white;
}

table tbody tr:nth-child(even){
    background-color:#6998AB;
}
table tbody tr:hover{
    background-color:#B1D0E0;
}