*{
    box-sizing: border-box;
}
body{
    margin: 20px;
    background-image:url(https://images.unsplash.com/photo-1639807478843-77609140d22d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    opacity: 0.8;
}
.contend{
    width: 700px;
    margin:auto;
    margin-top: 100px;
}

.form-control{
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 7px;
}
label{
    display: inline-block;
    margin-bottom: 5px;
    color: white;
}
.form-control:focus{
    border-color:#80bdff;
    background-color:lightsteelblue;

}
.form-control:hover{
    background-color: lightsteelblue;
}
.btn{
    width: 100px;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: lightslategray;
    color: white;
    transition: 1s;
    transition-delay: 0.2s;
    margin-right: 40px;
}
.btn:hover{
    font-size: large;
    opacity: 0.6;
    background-color: blue;
    transition-timing-function:inherit;
}
.reset:hover{
    background-color:brown;
    opacity: 1;
}
.tooltip{
   display: none;
   color: white;
   border:1px solid greenyellow;
   padding:2px;
   font-size: small;
   text-align: center;
   border-radius: 7px;
}

.tool:hover .tooltip{
    display: inline-block;
    margin-left: 30px;
    background-color:lightcoral;
}