ul{
    background-color: aqua;
    border-left: 3px solid red;
    list-style-type: none;
    padding-left: 0;
    width: 30%;
    border-right: 3px solid red;
    margin: auto;
    
}
ul li{
    border-bottom: 1px solid red;
    padding: 3px 5px 5px 5px;
}
ul li:nth-child(even){
    background-color: aquamarine;
}
ul li:hover{
    background-color: cadetblue;
    color: white;
}
li:last-child{
    border-bottom: none;
}