*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
/* En Üst Linkler Kısmı */
.ust{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.navigation{
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.navigation li{
    display: inline-block;
    margin-right: 8px;
}
.navigation li a{
    padding: 6px;
    font-size: 1.5em;
    text-decoration: none;
}
.navigation li a:hover{
    opacity: 0.7;
}

.homeplus{
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

.homeplus a{
    text-decoration: none;
}
.homeplus a:hover{
    opacity: 0.7;
}

span{
    color: #66C276;
}
/* ********** */

/* Real Estate Kısmı */
.real{
    width: 100%;
    height: 500px;
}
.bg-img{
    position:absolute;
    width: 100%;
    opacity: 0.95;
    z-index: -1;
}
.bg-img img{
    width: 100%;
    height: 500px;
}
.bg-aciklama{
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    width: 400px;
    height: 220px;
    background-color: rgba(0, 0,0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.bg-aciklama p{
    padding:20px;

}
.price{
    display: flex;
    justify-content:space-between;
}
.price a{
    color: white;
}
/* ************** */
/* Main-a */
section.main-a{
    display: flex;
    width: 75%;
    margin: 30px auto;
    justify-content: space-between;
}
section.main-a .box-a{
    max-width: 25%;
    display: flex;
    background-color: #D1F8FE;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
section.main-a .box-a:hover{
    opacity: 0.7;
    background-color: grey;
    color: white;
}
section.main-a .box-a .icon{
    width: 3rem;
    font-size: 2.5rem;
    color: limegreen;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-top: 12px;
}
section.main-a .box-a .main-a-info h2{
    margin-bottom: 5px;
    padding: 2px;
}
section.main-a .box-a .main-a-info p{
    margin-bottom: 5px;
    padding: 2px;
}
/* ************ */
/* Main-b */
section.main-b{
    width: 75%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
section.main-b h2{
    margin-left: 50px;
    margin-bottom: 15px;
}
/* Home */
section.main-b .home{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.main-b .box-home{
    width: 25%;
    padding: 10px;
    background-color: #D1F8FE;
    border-bottom: 2px solid greenyellow;
    margin-right: 20px;
    margin-bottom: 20px;
}
section.main-b .box-home:hover{
    opacity: 0.7;
}
section.main-b .box-home .home-img{
    position: relative;
}
section.main-b .box-home .home-img img{
    width: 100%;
    height: 250px;
}
section.main-b .box-home span{
    position: absolute;
}
section.main-b .box-home span.sale{
    top: 0;
    left: 0;
    background-color: limegreen;
    font-size: 1rem;
    color: white;
    padding: 5px;
}
section.main-b .box-home span.price{
    top: 0;
    right: 0;
    background-color: grey;
    padding: 5px;
    color: black;
}
section.main-b .box-home span.rent{
    top: 0;
    left: 0;
    background-color: lightgrey;
    font-size: 1rem;
    color: white;
    padding: 5px;
}
section.main-b .box-home .home-info{
    padding: 10px;
}
section.main-b .box-home .home-info hr{
    margin-top: 10px;
}
section.main-b .box-home .home-info-2{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* Find */
section.main-b .find{
    width: 25%;
    display: flex;
    flex-direction: column;
}
section.main-b .find .form{
    padding: 30px;
    background-color: lightgreen;
    color: white;
}
section.main-b .find .form-a label{
    display: block;
}
section.main-b .find .form-a select{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
section.main-b .find .form .find-flex{
    display: flex;
    justify-content: space-between;
}
.form-b label{
    display: block;
}
.form-b select{
    width: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.find .form .search a{
    background-color:rgb(213, 153, 253);
    display: inline-block;
    width: 100%;
    padding: 7px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.find .form .search a:hover{
    opacity: 0.8;
}
/* Agents */
.find .agents{
    margin-top: 40px;
}
.find .agents .profile{
    display: flex;
    padding: 5px;
}
.find .agents .profile .image img{
    border: 1px solid black;
    width: 100px;
}
.find .agents .profile .profile-info{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.find .agents .profile .profile-info .p-title{
    margin-bottom: 4px;
    letter-spacing: 1px;
}
.find .agents .profile .profile-info .p-number{
    letter-spacing: 1px;
}
.find .agents .profile .profile-info .p-mail{
    margin-top: 20px;
    opacity: 0.6;
}
/* *********** */
/* id = İmage */
#image{
    width: 100%;
    height: 200px;
}
#image .bg-img1{
    position: relative;
}
#image .bg-img1 img{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
}
#image .img1-info{
    text-align: center;
    color: white;
}
#image .img1-info .tema{
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 50px;
}
#image .img1-info .taha{
    font-size: 1.5rem
}
/* ************* */

/* main-c */

section.main-c{
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}
section.main-c .title{
    width: 50%;
    display: flex;
    flex-direction: column;
}
section.main-c .title h3{
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 1.5rem;
}
section.main-c .title .info{
    display: flex;
}
section.main-c .title .info .main-c-image img{
    opacity: 0.8;
}
section.main-c .title .info .main-c-info{
    padding: 30px;
    opacity: 0.8;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    text-align: justify;

}
/* ************* */

section.main-c .title-why{
    width: 50%;
    display: flex;
    flex-direction: column;
}
section.main-c .title-why h3{
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 1.5rem;
}
section.main-c .title-why .navbar{
    display: flex;
}
section.main-c .title-why .navbar a{
    margin-right: 15px;
    padding: 5px;
    border: 1px solid lightgray;
    border-bottom: none;
    opacity: 0.7;
    font-weight: bold;
}
section.main-c .title-why .navbar a:hover{
    background-color: lightgray;
    opacity: 1;
}


section.main-c .title-why .info-why{
    display: flex;
    border: 1px solid lightgray;
}
section.main-c .title-why .info-why .image-why img{
    opacity: 0.6;
}
section.main-c .title-why .info-why .why-info{
    padding: 25px;
    opacity: 0.8;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    text-align: justify;

}
/* ********** */
/* about */
section.about{
    width: 100%;
    background-color: lightgray;
    opacity: 0.8;
    margin-top: 30px;
}
/* --------- */
/* footer-up */
footer.up{
    width: 75%;
    margin: auto;
    display: flex;
    padding-top: 50px;
    margin-bottom: 30px;
}
/* ----------------- */
footer.up .photo{
    width: 25%;
}
footer.up .photo h2{
    padding-bottom: 20px;
}
/* ----------------------- */
footer.up .about-us{
    width: 25%;
}
footer.up .about-us h2{
    padding-bottom: 20px;
}
footer.up .about-us p{
    padding-right: 70px;
    text-align: justify;
}
/* ------------------ */
footer.up .latest{
    display: flex;
    flex-direction: column;
    width: 25%;
}
footer.up .latest h2{
    padding-bottom: 20px;
}
footer.up .latest .date-1{
    display: flex;
}
footer.up .latest .date-1 .icon-d1{
    font-size: 3rem;
    color: green;
    padding-right: 30px;
    padding-bottom: 60px;
}
footer.up .latest .date-1 .d1-info span.d1{
    opacity: 0.5;
    color: grey;
    display: block;
    padding-bottom: 8px;
}
/* ------------------ */
footer.up .address{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 40px;
}
footer.up .address h2{
    padding-bottom: 20px;
}
footer.up .address span{
    font-weight: bold;
    color: black;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
footer.up .all-info{
    display: flex;
}
footer.up .address p{
    margin-bottom: 5px;
}
/* ---------------- */
footer.up .social{
    margin-top: 10px;
    display: flex;
}
footer.up .social i{
    padding:7px;
    font-size: 1.9rem;
}
footer.up .social a:hover{
    opacity: 0.5;
}
















