body{
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    box-shadow: 5px 5px 15px 1px;
    box-sizing: border-box;
    text-align: center;
    transition: 2s;
    transition-delay: 0.3s;
    transition-timing-function: linear;
}
.card-1{
    box-shadow: 5px 5px 15px 1px blue;
    background-color: aqua;

}
.card-2{
    box-shadow: 5px 5px 15px 1px red;
    background-color: lightgray;

}
.card-3{
    box-shadow: 5px 5px 15px 1px green;
    background-color: lightpink;

}
.card-4{
    box-shadow: 5px 5px 15px 1px brown;
    background-color: lightgreen;

}
.card i{
    font-size: 75px;
    padding-top: 50px;
}
.card:hover{
    border-radius: 50%;
    padding-top: 20px;
    opacity: 0.7;
    width: 220px;
    height: 220px;
}